

    <!-- ======= Top Bar ======= -->
    <div id="topbar" class="d-flex align-items-center fixed-top">
      <div class="container d-flex justify-content-between">
        <div class="contact-info d-flex align-items-center">
          <i class="bi bi-envelope"></i> <a href="mailto:contact@medicalife.com">contact@medicalife.com.ar</a>
          <i class="bi bi-phone"></i> +54 9 11 2345 6789
        </div>
        <div class="d-none d-lg-flex social-links align-items-center">
          <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
          <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
          <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
          <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
        </div>
      </div>
    </div>
  
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
      <div class="container d-flex align-items-center">
        <img src="../assets/Diseño sin título.png" alt="homepage" style="height: 40px; margin-right: 15px;"/>
        <h1 class="logo me-auto"><a href="index.html">Medicalife</a></h1>
        <a href="#appointment" class="appointment-btn scrollto"><span class="d-none d-md-inline">Ingresa</span> ya mismo!</a>
  
      </div>
    </header><!-- End Header -->
  
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
      <div class="container">
        <h1>Bienvenido a Medicalife</h1>
        <h2>Optimiza la gestión clínica con nuestro sistema integral de datos, simplificando el flujo de información para un cuidado médico eficiente y preciso.</h2>
        <a href="#about" class="btn-get-started scrollto">Comienza hoy mismo</a>
      </div>
    </section><!-- End Hero -->
  
    <main id="main">
  
      <!-- ======= Why Us Section ======= -->
      <section id="why-us" class="why-us">
        <div class="container">
  
          <div class="row">
            <div class="col-lg-4 d-flex align-items-stretch">
              <div class="content">
                <h3>Porque escogernos?</h3>
                <p>
                    Ofrecemos una solución robusta y adaptable que prioriza la seguridad, la eficiencia y la personalización, 
                    garantizando una gestión de datos confiable y a la vanguardia en el ámbito clínico.
                </p>
                <div class="text-center">
                  <a href="#" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
                </div>
              </div>
            </div>
            <div class="col-lg-8 d-flex align-items-stretch">
              <div class="icon-boxes d-flex flex-column justify-content-center">
                <div class="row">
                  <div class="col-xl-4 d-flex align-items-stretch">
                    <div class="icon-box mt-4 mt-xl-0">
                      <i class="bx bx-receipt"></i>
                      <h4>Interfaz intuitiva</h4>
                      <p>Acceso fácil y gestión eficiente de datos.</p>
                    </div>
                  </div>
                  <div class="col-xl-4 d-flex align-items-stretch">
                    <div class="icon-box mt-4 mt-xl-0">
                      <i class="bx bx-cube-alt"></i>
                      <h4>Seguridad avanzada</h4>
                      <p>Protegemos datos con altos estándares de seguridad.</p>
                    </div>
                  </div>
                  <div class="col-xl-4 d-flex align-items-stretch">
                    <div class="icon-box mt-4 mt-xl-0">
                      <i class="bx bx-images"></i>
                      <h4>Personalización flexible</h4>
                      <p>Sistema adaptable a cada clínica.</p>
                    </div>
                  </div>
                </div>
              </div><!-- End .content-->
            </div>
          </div>
  
        </div>
      </section><!-- End Why Us Section -->
  
      <!-- ======= About Section ======= -->
      <section id="about" class="about">
        <div class="container-fluid">
  
          <div class="row">
            <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch position-relative">
              <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox play-btn mb-4"></a>
            </div>
  
            <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
              <h3>Nuestra Misión: Transformar la Gestión Clínica con Innovación Tecnológica</h3>
              <p>En nuestro compromiso por transformar la gestión clínica, nuestra misión es proporcionar soluciones tecnológicas innovadoras que potencien la eficiencia, la seguridad y la personalización en el manejo de datos médicos, contribuyendo así a una atención sanitaria más precisa y accesible para todos.</p>
  
              <div class="icon-box">
                <div class="icon"><i class="bx bx-fingerprint"></i></div>
                <h4 class="title"><a href="">Protegiendo tu Información</a></h4>
                <p class="description">La seguridad de los datos es nuestra prioridad. Implementamos protocolos de seguridad robustos para salvaguardar la información médica confidencial, cumpliendo con los más altos estándares de privacidad y protección.</p>
              </div>
  
              <div class="icon-box">
                <div class="icon"><i class="bx bx-gift"></i></div>
                <h4 class="title"><a href="">Adaptado a tus Necesidades</a></h4>
                <p class="description">Nos esforzamos por ofrecer soluciones flexibles y personalizables que se ajusten a las particularidades de cada clínica. Nuestro objetivo es proporcionar una experiencia adaptada y óptima para cada usuario.</p>
              </div>
  
              <div class="icon-box">
                <div class="icon"><i class="bx bx-atom"></i></div>
                <h4 class="title"><a href="">Avanzando con Tecnología</a></h4>
                <p class="description">Nuestro enfoque se centra en adoptar y desarrollar tecnologías de vanguardia para ofrecer soluciones que impulsen la eficiencia y la precisión en la gestión de datos clínicos, garantizando así un servicio de calidad.</p>
              </div>
  
            </div>
          </div>
  
        </div>
      </section><!-- End About Section -->
   
      <!-- ======= Doctors Section ======= -->
      <section id="doctors" class="doctors">
        <div class="container">
  
          <div class="section-title">
            <h2>Quienes nos eligieron</h2>
            <p>Descubre por qué profesionales de la salud confían en nuestra plataforma. Conoce las experiencias de médicos destacados que han optado por nuestra solución para optimizar su práctica clínica y mejorar la atención a sus pacientes.</p>
          </div>
  
          <div class="row">
  
            <div class="col-lg-6">
              <div class="member d-flex align-items-start">
                <div class="pic"><img src="assets/img/doctors/doctors-1.jpg" class="img-fluid" alt=""></div>
                <div class="member-info">
                  <h4>Dr. Alejandro Torres</h4>
                  <span>Director Médico</span>
                  <p>"La plataforma ha revolucionado nuestra eficiencia en la gestión de historias clínicas, simplificando nuestro trabajo diario."</p>
                  <div class="social">
                    <a href=""><i class="ri-twitter-fill"></i></a>
                    <a href=""><i class="ri-facebook-fill"></i></a>
                    <a href=""><i class="ri-instagram-fill"></i></a>
                    <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-6 mt-4 mt-lg-0">
              <div class="member d-flex align-items-start">
                <div class="pic"><img src="assets/img/doctors/doctors-2.jpg" class="img-fluid" alt=""></div>
                <div class="member-info">
                  <h4>Dra. María Rodríguez</h4>
                  <span>Jefa de Cirugía</span>
                  <p>"Una herramienta indispensable para coordinar eficazmente nuestro equipo y mejorar la atención quirúrgica."</p>
                  <div class="social">
                    <a href=""><i class="ri-twitter-fill"></i></a>
                    <a href=""><i class="ri-facebook-fill"></i></a>
                    <a href=""><i class="ri-instagram-fill"></i></a>
                    <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-6 mt-4">
              <div class="member d-flex align-items-start">
                <div class="pic"><img src="assets/img/doctors/doctors-3.jpg" class="img-fluid" alt=""></div>
                <div class="member-info">
                  <h4>Dr. Juan Herrera</h4>
                  <span>Cardiólogo</span>
                  <p>"La plataforma ha optimizado la monitorización de datos cardíacos, permitiéndome ofrecer un cuidado más preciso a mis pacientes."</p>
                  <div class="social">
                    <a href=""><i class="ri-twitter-fill"></i></a>
                    <a href=""><i class="ri-facebook-fill"></i></a>
                    <a href=""><i class="ri-instagram-fill"></i></a>
                    <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-6 mt-4">
              <div class="member d-flex align-items-start">
                <div class="pic"><img src="assets/img/doctors/doctors-4.jpg" class="img-fluid" alt=""></div>
                <div class="member-info">
                  <h4>Dra. Laura Gómez</h4>
                  <span>Pediatra</span>
                  <p>"Me ha sorprendido la versatilidad de la plataforma para adaptarse a las necesidades específicas de la atención pediátrica, facilitando mi trabajo diario."</p>
                  <div class="social">
                    <a href=""><i class="ri-twitter-fill"></i></a>
                    <a href=""><i class="ri-facebook-fill"></i></a>
                    <a href=""><i class="ri-instagram-fill"></i></a>
                    <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                  </div>
                </div>
              </div>
            </div>
  
          </div>
  
        </div>
      </section><!-- End Doctors Section -->
  
      <!-- ======= Frequently Asked Questions Section ======= -->
      <section id="faq" class="faq section-bg">
        <div class="container">
  
          <div class="section-title">
            <h2>Preguntas Frecuentes</h2>
            <p>Encuentra respuestas claras y precisas a las preguntas más comunes sobre nuestra plataforma, su funcionamiento, características y beneficios para tu práctica clínica.</p>
          </div>
  
          <div class="faq-list">
            <ul>
              <li data-aos="fade-up">
                <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1"> ¿Cuáles son los requisitos para implementar esta plataforma en mi clínica?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                  <p>
                    Nuestra plataforma es adaptable y puede implementarse en diferentes entornos. Contáctanos para evaluar tus necesidades específicas y encontrar la mejor solución para tu clínica.
                  </p>
                </div>
              </li>
  
              <li data-aos="fade-up" data-aos-delay="100">
                <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed"> ¿Qué medidas de seguridad se emplean para proteger la información de los pacientes?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    Utilizamos protocolos de seguridad avanzados y encriptación de datos para proteger la información médica, cumpliendo con estándares de privacidad rigurosos y regulaciones sanitarias.
                  </p>
                </div>
              </li>
  
              <li data-aos="fade-up" data-aos-delay="200">
                <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed"> ¿Cómo puedo personalizar la plataforma para las necesidades específicas de mi especialidad médica?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    Nuestra plataforma es altamente personalizable. Trabajaremos contigo para adaptarla a las necesidades de tu especialidad y tu flujo de trabajo particular.
                  </p>
                </div>
              </li>
  
              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed"> ¿Qué tipo de soporte técnico se ofrece una vez implementada la plataforma?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    Ofrecemos soporte técnico continuo, asistencia en la implementación y capacitación para garantizar un uso óptimo y resolver cualquier duda o problema que pueda surgir.
                    </p>
                </div>
              </li>
  
              <li data-aos="fade-up" data-aos-delay="400">
                <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed"> ¿Puedo integrar esta plataforma con otros sistemas o software que ya utilizo en mi clínica? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    Sí, nuestra plataforma está diseñada para integrarse con otros sistemas. Trabajaremos en la integración para asegurar un flujo de datos sin problemas en tu clínica.
                  </p>
                </div>
              </li>
  
            </ul>
          </div>
  
        </div>
      </section><!-- End Frequently Asked Questions Section -->
  
      <!-- ======= Testimonials Section ======= -->
      <section id="testimonials" class="testimonials">
        <div class="container">
  
          <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">
  
              <div class="swiper-slide">
                <div class="testimonial-wrap">
                  <div class="testimonial-item">
                    <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                    <h3>Saul Goodman</h3>
                    <h4>Ceo &amp; Founder</h4>
                    <p>
                      <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                      Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                      <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                  </div>
                </div>
              </div><!-- End testimonial item -->
  
              <div class="swiper-slide">
                <div class="testimonial-wrap">
                  <div class="testimonial-item">
                    <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                    <h3>Sara Wilsson</h3>
                    <h4>Designer</h4>
                    <p>
                      <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                      Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                      <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                  </div>
                </div>
              </div><!-- End testimonial item -->
  
              <div class="swiper-slide">
                <div class="testimonial-wrap">
                  <div class="testimonial-item">
                    <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                    <h3>Jena Karlis</h3>
                    <h4>Store Owner</h4>
                    <p>
                      <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                      Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                      <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                  </div>
                </div>
              </div><!-- End testimonial item -->
  
              <div class="swiper-slide">
                <div class="testimonial-wrap">
                  <div class="testimonial-item">
                    <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                    <h3>Matt Brandon</h3>
                    <h4>Freelancer</h4>
                    <p>
                      <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                      Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                      <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                  </div>
                </div>
              </div><!-- End testimonial item -->
  
              <div class="swiper-slide">
                <div class="testimonial-wrap">
                  <div class="testimonial-item">
                    <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                    <h3>John Larson</h3>
                    <h4>Entrepreneur</h4>
                    <p>
                      <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                      Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                      <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                  </div>
                </div>
              </div><!-- End testimonial item -->
  
            </div>
            <div class="swiper-pagination"></div>
          </div>
  
        </div>
      </section><!-- End Testimonials Section -->
  
      
      <!-- ======= Contact Section ======= -->
      <section id="contact" class="contact">
        <div class="container">
  
          <div class="section-title">
            <h2>Contáctanos</h2>
            <p>Estamos aquí para ayudarte. Si tienes alguna pregunta, comentario o quieres saber más sobre nuestra plataforma, no dudes en ponerte en contacto con nosotros. Completa el formulario o utiliza la información de contacto a continuación, ¡estamos listos para asistirte en lo que necesites!</p>
          </div>
        </div>
  
        <div>
          <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" allowfullscreen></iframe>
        </div>
  
        <div class="container">
          <div class="row mt-5">
  
            <div class="col-lg-4">
              <div class="info">
                <div class="address">
                  <i class="bi bi-geo-alt"></i>
                  <h4>Direccion:</h4>
                  <p>Calle Falsa 1234, Ciudad Autónoma de Buenos Aires, Argentina</p>
                </div>
  
                <div class="email">
                  <i class="bi bi-envelope"></i>
                  <h4>Email:</h4>
                  <p>info@medicalife.com.ar</p>
                </div>
  
                <div class="phone">
                  <i class="bi bi-phone"></i>
                  <h4>Telefono:</h4>
                  <p>+54 9 11 2345 6789</p>
                </div>
  
              </div>
  
            </div>
  
            <div class="col-lg-8 mt-5 mt-lg-0">
  
              <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                <div class="row">
                  <div class="col-md-6 form-group">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Tu nombre" required>
                  </div>
                  <div class="col-md-6 form-group mt-3 mt-md-0">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Tu email" required>
                  </div>
                </div>
                <div class="form-group mt-3">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Titulo" required>
                </div>
                <div class="form-group mt-3">
                  <textarea class="form-control" name="message" rows="5" placeholder="Tu mensaje" required></textarea>
                </div>
                <div class="my-3">
                  <div class="loading">Cargando</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Tu mensaje a sido enviado con exito! Muchas gracias</div>
                </div>
                <div class="text-center"><button type="submit">Enviar mensaje</button></div>
              </form>
  
            </div>
  
          </div>
  
        </div>
      </section><!-- End Contact Section -->
  
    </main><!-- End #main -->
  
    <!-- ======= Footer ======= -->
    <footer id="footer">
  
      <div class="footer-top">
        <div class="container">
          <div class="row">
  
            <div class="col-lg-3 col-md-6 footer-contact">
              <h3>Medicalife</h3>
              <p>
                Calle Falsa 1234 <br>
                Ciudad Autónoma de Buenos Aires<br>
                Argentina<br><br>
                <strong>Telfono:</strong> +54 9 11 2345 6789<br>
                <strong>Email:</strong> info@medicalife.com<br>
              </p>
            </div>
  
            <div class="col-lg-2 col-md-6 footer-links">
              <h4>Links de interes</h4>
              <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Inicio</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Acerca de nosotros</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Servicios</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Terminos del servicio</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Politica de privacidad</a></li>
              </ul>
            </div>
  
            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Nuestros servicios</h4>
              <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Diseño web</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Desarrollo web</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Gestion de productos</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Diseño grafico</a></li>
              </ul>
            </div>
  
          </div>
        </div>
      </div>
  
      <div class="container d-md-flex py-4">
  
        
      </div>
    </footer><!-- End Footer -->